@jrmc.form({ error: false, translator: { prefix: 'user.' }})
  @jrmc.form.control({ name: 'name' })
    @!jrmc.form.input({ class: 'input-bordered' })
  @end

  @jrmc.form.control({ name: 'title', translator: { prefix: 'page.' } })
    @!jrmc.form.input({ class: 'input-bordered' })
  @end

  @jrmc.form.control({ name: 'notfound' })
    @!jrmc.form.input({ class: 'input-bordered' })
  @end
@end
