@jrmc.tabs()
  @!jrmc.tabs.tab({ text: 'Tab 1', class: 'tab-bordered' })
  @!jrmc.tabs.tab({ text: 'Tab 2', class: 'tab-bordered', active: true })
  @!jrmc.tabs.tab({ text: 'Tab 3', class: 'tab-bordered' })
@end
