@modal({ button: { text: 'Toggle Modal' }, outside: false, escape: false })
  @!button({ text: 'x', class: 'btn-sm btn-circle absolute right-2 top-2', '@click': 'open = false' })
  <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
@end
