<div>
  @!jrmc.form.range({ min: 0, max: 100, value: 20, step: 25, class: 'range-primary' })
  <div class="w-full flex justify-between text-xs px-2">
    <span>|</span>
    <span>|</span>
    <span>|</span>
    <span>|</span>
    <span>|</span>
  </div>
</div>
