<div>
  @!jrmc.form.input({ type: 'checkbox', class: 'toggle', name: 'my_name', checked: true })
  @!jrmc.form.checkbox({ name: 'my_name', class: 'toggle'  })
  @!jrmc.form.toggle({ name: 'my_name'  })
</div>
