<div>
  @!jrmc.form.toggle({ class: 'toggle-primary', checked: true })
  @!jrmc.form.toggle({ class: 'toggle-secondary', checked: true })
  @!jrmc.form.toggle({ class: 'toggle-accent', checked: true })
</div>
