<div>
  @!jrmc.form.toggle({ class: 'toggle-lg', checked: true })
  @!jrmc.form.toggle({ class: 'toggle-md', checked: true })
  @!jrmc.form.toggle({ class: 'toggle-sm', checked: true })
  @!jrmc.form.toggle({ class: 'toggle-xs', checked: true })
</div>
