@layout()

  @slot('head')
    <title>Edge compoents</title>
    <meta name="description" content="" />
  @end

  @!breadcrumb({
    items: [
      { label: 'Components' },
      { label: 'Changelog' },
    ]
  })

  <div class="m-4 max-w-none prose">
    {{{ await markdownToHtml(readFile(`../../../changelog.md`)) }}}
  </div>

@end
