@layout()

  @slot('head')
    <title>Edge compoents - GDPR</title>
    <meta name="description" content="" />
  @end

  @!breadcrumb({
    items: [
      { label: 'Components' },
      { label: 'GDPR' },
    ]
  })

@end
