<div>
  @!jrmc.form.checkbox({ class: 'checkbox-lg', checked: true })
  @!jrmc.form.checkbox({ class: 'checkbox-md', checked: true })
  @!jrmc.form.checkbox({ class: 'checkbox-sm', checked: true })
  @!jrmc.form.checkbox({ class: 'checkbox-xs', checked: true })
</div>
