@!form.select({ options: [
  { text: 'Pick one', value: 'pick_one', disabled, selected },
  { text: 'Star Wars', value: 'star_wars' },
  { text: 'Harry Potter', value: 'harry_potter' },
  { text: 'Lord of the Rings', value: 'lord_of_the_rings' },
], class: 'select-warning' })
