<div class="w-full max-w-xs">
  @!form.input({ placeholder: 'Default' })
  <br /><br />
  @!form.input({ type: 'number', placeholder: '0' })
  <br /><br />
  @!form.input({ type: 'email', placeholder: 'john.snow@got.com' })
  <br /><br />
  @!form.input({ type: 'date' })
  <br /><br />
  @!form.input({ type: 'datetime-local' })
  <br /><br />
  @!form.input({ type: 'color' })
  <br /><br />
  @!form.input({ type: 'hidden', value: 'true' })
</div>

