<div>
  @!form.input({ type: 'checkbox', name: 'my_name', checked })

  @!form.input({ type: 'checkbox', name: 'my_name', class: 'checkbox-primary', checked })

  @!form.input({ type: 'checkbox', name: 'my_name', class: 'checkbox-primary', disabled })

  @!form.input({ type: 'checkbox', name: 'my_name', class: ['toggle', 'toggle-accent'], checked })
</div>
