<div>
  @!form.input({ type: 'radio', name: 'my_name', checked })
  @!form.input({ type: 'radio', name: 'my_name', class: 'radio-primary' })
  @!form.input({ type: 'radio', name: 'my_name', class: 'radio-accent', disabled })
</div>
