<div>
  @!form.input({ type: 'number', placeholder: '0' })
  @!form.input({ type: 'email', placeholder: 'john.snow@got.com' })
  @!form.input({ type: 'date' })
  @!form.input({ type: 'datetime-local' })
  @!form.input({ type: 'color' })
  @!form.input({ type: 'hidden', value: 'true' })
</div>

