<div class="w-full max-w-xs">
  @!form.input({ placeholder: 'Size xs',  class: 'input-xs' })
  <br /><br />
  @!form.input({ placeholder: 'Size sm',  class: 'input-sm' })
  <br /><br />
  @!form.input({ placeholder: 'Size md',  class: 'input-md' })
  <br /><br />
  @!form.input({ placeholder: 'Size lg',  class: 'input-lg' })
</div>

