<div>
  @toast({ class: 'toast-end toast-middle' })
    @!alert.info({ text: 'New message arrived.', icon: 'false' })
    @!alert.success({ text: 'Message sent successfully.', icon: 'false' })
  @end
</div>
