<div>
  @toast({ class: 'toast-start toast-bottom' })
    @!alert.info({ text: 'New message arrived.', icon: 'false' })
    @!alert.success({ text: 'Message sent successfully.', icon: 'false' })
  @end
</div>
