<div class="{{ jrmc.getCssClass($props, 'alert shadow-lg') }}" {{ $props.serializeExcept(['class', 'text', 'icon']) }}>
  <div>
    {{{ $slots.icon !== undefined ? await $slots.icon() : '' }}}
    @if(text)~
      <span>{{ text }}</span>
    @else~
      <div>{{{ await $slots.main() }}}</div>
    @end~
  </div>
  @if($slots.actions !== undefined)~
    <div class="flex-none">{{{ await $slots.actions() }}}</div>
  @end~
</div>
