<div class="{{ jrmc.getCssClass($props, 'alert') }}" {{ $props.serializeExcept(['class', 'text', 'icon']) }}>
  {{{ $slots.icon !== undefined ? await $slots.icon() : '<span></span>' }}}
  @if(text)~
    <span>{{ text }}</span>
  @else~
    <div>{{{ await $slots.main() }}}</div>
  @end~

  @if($slots.actions !== undefined)~
    <div>{{{ await $slots.actions() }}}</div>
  @end~
</div>
