<{{jrmc.getTagName($props, 'span')}} class="{{ jrmc.getCssClass($props, 'badge') }}" {{ $props.serializeExcept(['class', 'as']) }}>
  {{{ await $slots.main() || text || '' }}}
</{{jrmc.getTagName($props, 'span')}}>