@if(tooltip)~
<div
  class="tooltip{{ $props.has('tooltip.class') ? ` ${$props.get('tooltip.class')}` : '' }}"
  data-tip="{{ tooltip.text }}"
>
@end~
<button {{ $props.except(['text', 'class', 'tooltip']).toAttrs() }} class="{{ jrmc.getCssClass($props, 'btn') }}">
  {{{ await $slots.main() || text || '' }}}
</button>
@if(tooltip)~
</div>
@end~
