<div class="{{ jrmc.getCssClass($props, 'carousel', 'rounded-box') }}" {{ $props.except(['class']).toAttrs() }}>
  @if($props.has('items'))
    @each(item in items)
      @!jrmc.carousel.item({ ...item })
    @end
  @else
    {{{ await $slots.main() || '' }}}
  @end
</div>