@inject({
  object: $props.get('object'),
  translator: $props.has('translator') ? $props.get('translator') : null
})

<form method="{{ jrmc.getMethodForm($props, 'POST') }}" {{ $props.serializeExcept(['method', 'object', 'translator']) }}>

  @if(csrfField && $props.get('csrf') !== false)~
    {{ csrfField() }}
  @end~

  @if(!$props.has('error') || $props.get('error'))
    @!jrmc.form.error.all()
  @end

  {{{ await $slots.main() || '' }}}
</form>
