@inject({
  object: $props.get('object'),
})

<form method="{{ jrmc.getMethodForm($props, 'POST') }}" {{ $props.except(['method', 'object']).toAttrs() }}>
  @if(csrfField && $props.get('csrf') !== false)~
    {{ csrfField() }}
  @end~

  @if(!$props.has('error') || $props.get('error'))
    @!jrmc.form.error.all()
  @end

  {{{ await $slots.main() || '' }}}
</form>
