<progress class="progress{{ $props.has('class') ? ` ${$props.get('class')}` : ' w-56' }}" value="{{ $props.has('value') ? $props.get('value') : 0 }}" max="{{ $props.has('max') ? $props.get('max') : 100 }}"></progress>
