@layout()
  @slot('head')
    <title>Edge components sample login page</title>
    <meta name="description" content="" />
  @end

  @!breadcrumb({
  items: [
    { label: 'Components' },
    { label: 'Login page' }
  ]
  })

  @section({
    title: 'Login page',
    template: readFile('pages/samples/partials/login.edge')
  })
    @mokup()
      @include('pages/samples/partials/login')
    @end
  @end

@end
