<div>
  @!form.radio({ name: 'my_name', class: 'radio-primary', checked: true })
  @!form.radio({ name: 'my_name', class: 'radio-secondary' })
  @!form.radio({ name: 'my_name', class: 'radio-accent' })
</div>
