<div>
  @!form.radio({ name: 'my_name', class: 'radio-lg', checked: true })
  @!form.radio({ name: 'my_name', class: 'radio-md' })
  @!form.radio({ name: 'my_name', class: 'radio-sm' })
  @!form.radio({ name: 'my_name', class: 'radio-xs' })
</div>
