@form.control({ name: 'lastname', label: 'Are you sure?' })
  @form.label({ class: 'cursor-pointer' })
    @!form.label.text({ text: 'Yes' })
    @!form.radio({ ckecd: true })
  @end

  @form.label({ class: 'cursor-pointer' })
    @!form.label.text({ text: 'No' })
    @!form.radio()
  @end
@end
