@!carousel({ items: [
  { url: 'https://placeimg.com/400/300/arch' },
  { url: 'https://placeimg.com/400/300/arch' },
  { url: 'https://placeimg.com/400/300/arch' },
  { url: 'https://placeimg.com/400/300/arch' },
  { url: 'https://placeimg.com/400/300/arch' },
], class: 'carousel-center rounded-box' })
