@carousel({ class: 'carousel-end rounded-box' })
  @!carousel.item({ url: 'https://placeimg.com/256/400/arch'})
  @!carousel.item({ url: 'https://placeimg.com/256/400/arch' })
  @!carousel.item({ url: 'https://placeimg.com/256/400/arch' })
  @!carousel.item({ url: 'https://placeimg.com/256/400/arch' })
  @!carousel.item({ url: 'https://placeimg.com/256/400/arch' })
@end
