@tailwind base;
@tailwind components;
@tailwind utilities;


/* override for include in tab component */
/* solution inspired by daisyui.com */

.chat-start {
  grid-template-columns: auto 1fr;
}

/* override for tabs lifted in tabs lifted */
.tabs-lifted:has(.tab-content[class*=" rounded-"]) .tab-content
.tabs-lifted .tab:first-child:not(.tab-active) {
  border-bottom-color: var(--tab-border-color);
}

/* override for tabs bordered in tabs lifted */
.tabs-lifted:has(.tab-content[class*=" rounded-"]) .tab-content
.tabs-bordered .tab:first-child:not(.tab-active) {
  border-bottom-color: var(--fallback-bc,oklch(var(--bc)/var(--tw-border-opacity)));
}
