@!jrmc.carousel({ items: [
  { url: 'https://picsum.photos/id/400/400/300', alt: 'text alt' },
  { url: 'https://picsum.photos/id/401/400/300' },
  { url: 'https://picsum.photos/id/402/400/300' },
  { url: 'https://picsum.photos/id/403/400/300' },
  { url: 'https://picsum.photos/id/404/400/300' },
] })
