@jrmc.carousel({ class: 'carousel-end rounded-box' })
  @!jrmc.carousel.item({ url: 'https://placeimg.com/256/400/arch'})
  @!jrmc.carousel.item({ url: 'https://placeimg.com/256/400/arch' })
  @!jrmc.carousel.item({ url: 'https://placeimg.com/256/400/arch' })
  @!jrmc.carousel.item({ url: 'https://placeimg.com/256/400/arch' })
  @!jrmc.carousel.item({ url: 'https://placeimg.com/256/400/arch' })
@end
