@jrmc.carousel({ class: 'carousel-end rounded-box' })
  @!jrmc.carousel.item({ url: 'https://picsum.photos/id/400/256/400'})
  @!jrmc.carousel.item({ url: 'https://picsum.photos/id/401/256/400' })
  @!jrmc.carousel.item({ url: 'https://picsum.photos/id/402/256/400' })
  @!jrmc.carousel.item({ url: 'https://picsum.photos/id/403/256/400' })
  @!jrmc.carousel.item({ url: 'https://picsum.photos/id/404/256/400' })
@end
