@jrmc.carousel({ class: 'w-64 rounded-box' })
  @jrmc.carousel.item({ class: 'w-full' })
    <img src="https://placeimg.com/256/400/arch" class="w-full" alt="" />
  @end
  @jrmc.carousel.item({ class: 'w-full' })
    <img src="https://placeimg.com/256/400/arch" class="w-full" alt="" />
  @end
  @jrmc.carousel.item({ class: 'w-full' })
    <img src="https://placeimg.com/256/400/arch" class="w-full" alt="" />
  @end
@end
