@!jrmc.carousel({ items: [
  { url: 'https://picsum.photos/id/301/400/300', class: 'h-full' },
  { url: 'https://picsum.photos/id/302/400/300', class: 'h-full' },
  { url: 'https://picsum.photos/id/308/400/300', class: 'h-full' },
  { url: 'https://picsum.photos/id/304/400/300', class: 'h-full' },
  { url: 'https://picsum.photos/id/305/400/300', class: 'h-full' },
], class: 'h-96 carousel-vertical rounded-box' })
