@!jrmc.carousel({ items: [
  { url: 'https://placeimg.com/400/300/arch', class: 'h-full' },
  { url: 'https://placeimg.com/400/300/arch', class: 'h-full' },
  { url: 'https://placeimg.com/400/300/arch', class: 'h-full' },
  { url: 'https://placeimg.com/400/300/arch', class: 'h-full' },
  { url: 'https://placeimg.com/400/300/arch', class: 'h-full' },
], class: 'h-96 carousel-vertical rounded-box' })
