@jrmc.drawer()
  @jrmc.drawer.content()
    @!jrmc.button({ text: 'Open drawer', ...$context.event.open })
  @end

  @jrmc.drawer.side({ class: 'w-3/4 p-4 bg-base-100' })
    <ul class="menu text-base-content">
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  @end
@end

