<div>
  @!form.checkbox({ class: 'checkbox-primary', checked: true })
  @!form.checkbox({ class: 'checkbox-secondary', checked: true })
  @!form.checkbox({ class: 'checkbox-accent', checked: true })
</div>
