<div>
  @!form.checkbox({ class: 'checkbox-lg', checked: true })
  @!form.checkbox({ class: 'checkbox-md', checked: true })
  @!form.checkbox({ class: 'checkbox-sm', checked: true })
  @!form.checkbox({ class: 'checkbox-xs', checked: true })
</div>
