<div>
  @!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-32 rounded' })
  @!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-20 rounded' })
  @!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-16 rounded' })
  @!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-8 rounded' })
</div>
