@!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-24 mask mask-squircle' })
@!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-24 mask mask-hexagon' })
@!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-24 mask mask-triangle' })

