@avatar.group()
  @!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-12' })
  @!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-12' })
  @!avatar({ url: 'https://placeimg.com/192/192/people', class: 'w-12' })
@end
