<a
  {{ $props.serializeExcept(['text', 'class', 'active']) }}
  class="tab{{ $props.has('class') ? ` ${$props.get('class')}` : '' }}{{ $props.has('active') && active ? ' tab-active' : '' }}"
>
  {{{ await $slots.main() || text }}}
</a>
