<a
  {{ $props.serializeExcept(['text', 'class', 'active']) }}
  class="{{ jrmc.getCssClass($props, ['tab', ($props.has('active') && active ? ' tab-active' : '')]) }}"
>
  {{{ await $slots.main() || text }}}
</a>
