@jrmc.avatar.group({ class: '-space-x-12' })
  @!jrmc.avatar({ url: 'https://placeimg.com/192/192/people' })
  @!jrmc.avatar({ url: 'https://placeimg.com/192/192/people' })
  @!jrmc.avatar({ placeholder: '+99' })
@end
