@!jrmc.avatar({ url: 'https://placeimg.com/192/192/people', status: 'online', class: 'w-24 rounded-full' })
@!jrmc.avatar({ url: 'https://placeimg.com/192/192/people', status: 'offline', class: 'w-24 rounded-full' })
