@!jrmc.avatar({ url: 'https://picsum.photos/id/64/192/192', status: 'online', class: 'w-24 rounded-full' })
@!jrmc.avatar({ url: 'https://picsum.photos/id/64/192/192', status: 'offline', class: 'w-24 rounded-full' })
