<div>
  @!jrmc.avatar({ placeholder: 'K' })
  @!jrmc.avatar({ placeholder: 'JO', status: 'online', class: 'bg-neutral-focus text-neutral-content rounded-full w-16' })
  @!jrmc.avatar({ placeholder: 'AA', class: 'bg-primary text-neutral-content mask mask-hexagon w-8' })
</div>
