@jrmc.card()
  @slot('top')
    <figure><img src="https://picsum.photos/400/225" alt="Shoes" /></figure>
  @end
  @jrmc.card.body()
    @!jrmc.card.title({ text: 'Shoes!' })
    <p>If a dog chews shoes whose shoes does he choose?</p>

    @jrmc.card.actions()
      @!jrmc.button({ text: 'Buy Now', class: 'btn-primary' })
    @end
  @end
@end
