@jrmc.card({ class: 'w-96 bg-primary text-primary-content' })
  @jrmc.card.body()
    @!jrmc.card.title({ text: 'Shoes!' })
    <p>If a dog chews shoes whose shoes does he choose?</p>

    @jrmc.card.actions()
      @!jrmc.button({ text: 'Buy Now' })
    @end
  @end
@end
