@!jrmc.loading.infinity({ class: 'text-primary' })
@!jrmc.loading.infinity({ class: 'text-secondary' })
@!jrmc.loading.infinity({ class: 'text-accent' })
@!jrmc.loading.infinity({ class: 'text-neutral' })
@!jrmc.loading.infinity({ class: 'text-info' })
@!jrmc.loading.infinity({ class: 'text-success' })
@!jrmc.loading.infinity({ class: 'text-warning' })
@!jrmc.loading.infinity({ class: 'text-error' })
