<div class="drawer-side">
  <label class="drawer-overlay" @click="open = false"></label>
  <div class="{{ jrmc.getCssClass($props, '', 'overflow-y-auto p-4 h-full w-80 bg-base-100') }}">
    {{{ await $slots.main() || '' }}}
  </div>
</div>