@jrmc.form.control({ name: 'lastname', label: 'Are you sure?' })
  @jrmc.form.label({ class: 'cursor-pointer' })
    @!jrmc.form.label.text({ text: 'Yes' })
    @!jrmc.form.radio({ ckecd: true })
  @end

  @jrmc.form.label({ class: 'cursor-pointer' })
    @!jrmc.form.label.text({ text: 'No' })
    @!jrmc.form.radio()
  @end
@end
