<div>
  @!jrmc.button({ text: 'primary', class: 'btn-primary' })
  @!jrmc.button({ text: 'secondary', class: 'btn-secondary' })
  @!jrmc.button({ text: 'accent', class: 'btn-accent' })
  @!jrmc.button({ text: 'ghost', class: 'btn-ghost' })
  @!jrmc.button({ text: 'link', class: 'btn-link' })
</div>
