<div>
  @!jrmc.button({ text: 'default', class: "btn-active" })
  @!jrmc.button({ text: "primary", class: "btn-active btn-primary" })
  @!jrmc.button({ text: "secondary", class: "btn-active btn-secondary" })
  @!jrmc.button({ text: "accent", class: "btn-active btn-accent" })
  @!jrmc.button({ text: "ghost", class: "btn-active btn-ghost" })
  @!jrmc.button({ text: "link", class: "btn-active btn-link" })
</div>
