<div>
  @!jrmc.button({ text: 'info', class: 'btn-info' })
  @!jrmc.button({ text: 'success', class: 'btn-success' })
  @!jrmc.button({ text: 'warning', class: 'btn-warning' })
  @!jrmc.button({ text: 'error', class: 'btn-error' })
</div>
