<div>
  @!jrmc.button({ text: 'large', class: 'btn-lg' })
  @!jrmc.button({ text: 'Normal' })
  @!jrmc.button({ text: 'Small', class: 'btn-sm' })
  @!jrmc.button({ text: 'Tiny', class: 'btn-xs' })
</div>
