<!--
 /!\ Deprecated

 Button group daisyUI >= 3, use join(https://daisyui.com/components/join/)
-->

@jrmc.button.group()
  @!jrmc.button({ text: 'button', class: 'btn-active' })
  @!jrmc.button({ text: 'button' })
  @!jrmc.button({ text: 'button' })
@end
