@set('as', $props.has('as') ? $props.get('as') : 'span' )
@set('klass', $props.has('class') ? $props.get('class') : '')
@set('klass', Array.isArray(klass) ? klass.join(' ') : klass)

<{{as}} class="label-text {{ klass }}" {{ $props.serializeExcept(['class', 'as']) }}>
  {{{ await $slots.main() || text || '' }}}
</{{as}}>