<div>
  @!button({ text: 'link', type: 'button' })
  @!button.link({ text, type: 'submit' })
  @!button.input({ text: 'input' })
  @!button.input({ text: 'submit', type: 'submit' })
  @!button.input({ text: 'reset', type: 'reset' })
  @!button.label({ text: 'label' })
</div>
