@!button({ text, class: "btn-active" })
@!button({ text: "primary", class: "btn-active btn-primary" })
@!button({ text: "secondary", class: "btn-active btn-secondary" })
@!button({ text: "accent", class: "btn-active btn-accent" })
@!button({ text: "ghost", class: "btn-active btn-ghost" })
@!button({ text: "link", class: "btn-active btn-link" })
