@!button({ text, class: "btn-outline" })
@!button({ text: "primary", class: "btn-outline btn-primary" })
@!button({ text: "secondary", class: "btn-outline btn-secondary" })
@!button({ text: "accent", class: "btn-outline btn-accent" })
@!button({ text: "info", class: "btn-outline btn-info" })
@!button({ text: "success", class: "btn-outline btn-success" })
@!button({ text: "warning", class: "btn-outline btn-warning" })
@!button({ text: "error", class: "btn-outline btn-error" })
