@!button({ text: "primary", class: "btn-primary" })
@!button({ text: "secondary", class: "btn-secondary" })
@!button({ text: "accent", class: "btn-accent" })
@!button({ text: "ghost", class: "btn-ghost" })
@!button({ text: "link", class: "btn-link" })
