<div class="w-full max-w-xs">
  @!jrmc.form.file({ class: 'file-input-primary' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-secondary' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-accent' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-info' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-success' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-warning' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-error' })
</div>
