<div class="w-full max-w-xs">
  @!jrmc.form.file({ class: 'file-input-xs' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-sm' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-md' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-lg' })
</div>
