<div class="w-full max-w-xs">
  @!jrmc.form.file({ class: 'file-input-xs file-input-bordered' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-sm file-input-bordered' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-md file-input-bordered' })
  <br /><br />
  @!jrmc.form.file({ class: 'file-input-lg file-input-bordered' })
</div>
