@jrmc.tooltip({ text: 'hello', class: 'tooltip-open tooltip-left tooltip-primary' })
  <img src="https://picsum.photos/64/64" />
@end
@jrmc.tooltip({ text: 'hello', class: 'tooltip-open tooltip-bottom tooltip-secondary' })
  <img src="https://picsum.photos/64/64" />
@end
@jrmc.tooltip({ text: 'hello', class: 'tooltip-open tooltip-right tooltip-accent' })
  <img src="https://picsum.photos/64/64" />
@end
