<div>
  @!jrmc.badge({ text: '987,654', class: 'badge-lg' })
  @!jrmc.badge({ text: '987,654', class: 'badge-md' })
  @!jrmc.badge({ text: '987,654', class: 'badge-sm' })
  @!jrmc.badge({ text: '987,654', class: 'badge-xs' })
</div>
