@card()
  @slot('top')
    <figure class="px-10 pt-10"><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
  @end
  @card.body({ class: 'items-center text-center' })
    @!card.title({ text: 'Shoes!' })
    <p>If a dog chews shoes whose shoes does he choose?</p>

    @card.actions()
      @!button({ text: 'Buy Now', class: 'btn-primary' })
    @end
  @end
@end
