@card()
  @card.body()
    @!card.title({ text: 'Shoes!' })
    <p>If a dog chews shoes whose shoes does he choose?</p>

    @card.actions()
      @!button({ text: 'Buy Now', class: 'btn-primary' })
    @end
  @end
@end
