@card({ class: 'w-96 bg-primary text-primary-content' })
  @card.body()
    @!card.title({ text: 'Shoes!' })
    <p>If a dog chews shoes whose shoes does he choose?</p>

    @card.actions()
      @!button({ text: 'Buy Now' })
    @end
  @end
@end
