@card({ class: 'card-side bg-base-100 shadow-xl' })
  @slot('top')
    <figure><img src="https://placeimg.com/200/280/arch" alt="Movie"></figure>
  @end
  @card.body()
    @!card.title({ text: 'New movie is released!' })
    <p>Click the button to watch on Jetflix app.</p>

    @card.actions()
      @!button({ text: 'Watch', class: 'btn-primary' })
    @end
  @end
@end
