<div class="grid grid-cols-1 gap-2">
  @!jrmc.pagination.light({ object: fakeUsers({ currentPage: 4, total: 10 }) })
  @!jrmc.pagination.light({ object: fakeUsers({ currentPage: 1, total: 1 }) })
  @!jrmc.pagination.light({ object: fakeUsers({ currentPage: 1, total: 1 }), size: 'xs' })
  @!jrmc.pagination.light({ object: fakeUsers({ currentPage: 1, total: 1 }), size: 'sm' })
  @!jrmc.pagination.light({ object: fakeUsers({ currentPage: 1, total: 1 }), size: 'md' })
  @!jrmc.pagination.light({ object: fakeUsers({ currentPage: 1, total: 1 }), size: 'lg' })
</div>
