@tooltip({ text: 'hello', class: 'tooltip-open tooltip-left tooltip-primary' })
  <img src="https://placeimg.com/64/64/people" />
@end
@tooltip({ text: 'hello', class: 'tooltip-open tooltip-bottom tooltip-secondary' })
  <img src="https://placeimg.com/64/64/people" />
@end
@tooltip({ text: 'hello', class: 'tooltip-open tooltip-right tooltip-accent' })
  <img src="https://placeimg.com/64/64/people" />
@end
