<{{jrmc.getTagName($props, 'label')}} class="{{ jrmc.getCssClass($props, 'label') }}" {{ $props.serializeExcept(['class', 'as', 'text', 'required']) }}>
  @if($props.has('text'))
    @!jrmc.form.label.text({ text, required: jrmc.getRequired($props, $context) }) 
  @end~
  {{{ await $slots.main() || '' }}}
</{{jrmc.getTagName($props, 'label')}}>