<select
  class="{{ jrmc.getCssClass($props, 'select') }}"
  {{{ jrmc.getName($props, $context) ? ` name="${jrmc.getName($props, $context)}"` : '' }}}
  {{{ jrmc.getId($props, $context) ? ` id="${jrmc.getId($props, $context)}"` : '' }}}
  {{{ jrmc.getRequired($props, $context) ? ` required` : '' }}}
  {{ $props.serializeExcept(['options', 'name', 'id', 'required']) }}>
  @each(option in options)
    <option value="{{ option.value }}">
      {{ option.text }}
    </option>
  @end
</select>