
@set('klass', $props.has('class') ? $props.get('class') : '')
@set('klass', Array.isArray(klass) ? klass.join(' ') : klass)

<textarea class="textarea {{ $props.has('type') ? ` ${$props.get('type')}` : '' }}{{ ` ${klass}` }}" {{ $props.serializeExcept(['class']) }}></textarea>