
<textarea 
  class="{{ jrmc.getCssClass($props, 'textarea') }}"
  {{{ jrmc.getName($props, $context) ? ` name="${jrmc.getName($props, $context)}"` : '' }}}
  {{{ jrmc.getId($props, $context) ? ` id="${jrmc.getId($props, $context)}"` : '' }}}
  {{{ jrmc.getRequired($props, $context) ? ` required` : '' }}}
  {{ $props.serializeExcept(['class', 'name', 'id', 'required']) }}></textarea>