<h2 class="text-primary font-semibold leading-7 px-4">{{ version }}</h2>
<ul class="list-inside list-disc px-4">
  @each(item in items)~
  <li>{{ item }}</li>
  @end~
</ul>
<div class="divider"></div>
