<div>
  @!jrmc.chat({ message: 'Color primary', class: 'chat-bubble-primary' })
  @!jrmc.chat({ message: 'Color secondary', class: 'chat-bubble-secondary' })
  @!jrmc.chat({ message: 'Color accent', class: 'chat-bubble-accent' })
  @!jrmc.chat({ message: 'Color info', class: 'chat-bubble-info' })
  @!jrmc.chat({ message: 'Color success', class: 'chat-bubble-success' })
  @!jrmc.chat({ message: 'Color warning', class: 'chat-bubble-warning' })
  @!jrmc.chat({ message: 'Color error', class: 'chat-bubble-error' })
</div>
