<div>
  @!badge({ text: 'neutral' })
  @!badge({ text: 'primary', class: 'badge-primary' })
  @!badge({ text: 'secondary', class: 'badge-secondary' })
  @!badge({ text: 'accent', class: 'badge-accent' })
  @!badge({ text: 'ghost', class: 'badge-ghost' })
  @!badge({ text: 'info', class: 'badge-info' })
  @!badge({ text: 'success', class: 'badge-success' })
  @!badge({ text: 'warning', class: 'badge-warning' })
  @!badge({ text: 'error', class: 'badge-error' })
</div>
