<div>
  @jrmc.toast({ class: 'toast-top toast-end' })
    @!jrmc.alert.info({ text: 'New message arrived.', icon: 'false' })
    @!jrmc.alert.success({ text: 'Message sent successfully.', icon: 'false' })
  @end
</div>
