@drawer({ class: 'drawer-end' })
  @drawer.content()
    @!button({ text: 'Open drawer', ...$context.event.open })
  @end

  @drawer.side()
    <ul class="menu text-base-content">
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  @end
@end

