@if(up.isDrawer())
  @jrmc.button({ 'up-dismiss': '', class: 'btn-circle btn-sm btn-primary mr-2' })
    @svg('fa-solid:arrow-left')
  @end
@else
  @jrmc.button.link({
    href: $props.href,
    class: 'btn-circle btn-sm btn-primary mr-2',
  })
    @svg('fa-solid:arrow-left')
  @end
@end
