@jrmc.form({ method: 'get'})
  @jrmc.form.control({ name: 'sampleError', error: false })
    @!jrmc.form.input()
  @end

  @jrmc.form.control({ name: 'sample2Error', error: false })
    @!jrmc.form.input()
  @end
@end
