@jrmc.form({ method: 'get', error: false})
  @jrmc.form.control({ name: 'sampleError' })
    @!jrmc.form.input()
  @end

  @jrmc.form.control({ name: 'sample2Error' })
    @!jrmc.form.input()
  @end
@end
