@jrmc.form.control({ name: 'movies', class: 'w-full max-w-xs', label: 'Select your movie', hint: 'Short description' })
  @!jrmc.form.select({ options: [
    { text: 'Pick one', value: 'pick_one', disabled: true, selected: true },
    { text: 'Star Wars', value: 'star_wars' },
    { text: 'Harry Potter', value: 'harry_potter' },
    { text: 'Lord of the Rings', value: 'lord_of_the_rings' },
  ], class: 'select-bordered' })
@end
