@!jrmc.form.select({ options: [
  { text: 'Pick one', value: 'pick_one' },
  { text: 'Star Wars', value: 'star_wars', selected: true },
  { text: 'Harry Potter', value: 'harry_potter' },
  { text: 'Lord of the Rings', value: 'lord_of_the_rings', selected: true },
], class: 'select-bordered', multiple })
