<div {{ $props.serializeExcept(['class', 'url']) }} class="{{ jrmc.getCssClass($props, 'carousel-item') }}">
  @if($props.has('url'))~
    <img src="{{ url }}" alt="{{ alt || '' }}" />
  @else~
    {{{ await $slots.main() || '' }}}
  @end~
</div>