<!DOCTYPE html>
<html data-theme="dark">
<head>
  <meta charset="utf-8">
  <title>Preview Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.9/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <script src="/app.js"></script>

  <style>
    html, body {
      height: 100%
    }
    body {
      background-image: repeating-linear-gradient(45deg,hsl(var(--b1)),hsl(var(--b1)) 13px,hsl(var(--b2)) 13px,hsl(var(--b2)) 14px);
    }
  </style>
</head>
<body>

  <div class="flex justify-center px-4 py-16 border-t border-base-300">
    {{{ yield }}}
  </div>

</body>
</html>
