<div>
  @!progress({ class: 'progress-primary', value: 10, max: 200 })
  @!progress({ class: 'progress-secondary', value: 36 })
  @!progress({ class: 'progress-accent', value: 50 })
  @!progress({ class: 'progress-info', value: 66 })
  @!progress({ class: 'progress-success', value: 90 })
  @!progress({ class: 'progress-warning', value: 95 })
  @!progress({ class: 'progress-error w-56', value: 70 })
</div>
