<div>
  @!form.range({ class: 'range-primary', min: 0, max: 100, value: 10})
  @!form.range({ class: 'range-secondary', min: 0, max: 100, value: 50 })
  @!form.range({ class: 'range-accent', min: 0, max: 100, value: 100 })
</div>
