<div>
  @!form.range({ min: 0, max: 100, value: 40, class: 'range-xs' })
  @!form.range({ min: 0, max: 100, value: 40, class: 'range-sm' })
  @!form.range({ min: 0, max: 100, value: 40, class: 'range-md' })
  @!form.range({ min: 0, max: 100, value: 40, class: 'range-lg' })
</div>
