<input
  {{ $props.serializeExcept(['text', 'class', 'type']) }}
  type="{{ $props.has('type') ? $props.get('type') : 'button' }}"
  class="btn{{ $props.has('class') ? ` ${$props.get('class')}` : '' }}"
  value="{{ text }}"
/>
