@alert({ text: 'we use cookies for no reason.' })
  @slot('actions')
    @!button({ text: "ghost", class: "btn-ghost btn-sm" })
    @!button({ text: "primary", class: "btn-primary btn-sm" })
  @end
@end
