@alert()
  @slot('main')
    <h3 class="font-bold">New message!</h3>
    <div class="text-xs">You have 1 unread message</div>
  @end
  @slot('actions')
    @!button({ text: "see", class: "btn-sm" })
  @end
@end
